html {
  scroll-behavior: smooth;
  font-size: 1em;
}

.section {
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  font-family: 'Roboto Slab', serif;
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Navbar */

#nav {
  position: fixed;
  background-color: #ECECEC;
  width: 100vw;
  height: 4em;
  z-index: 10;
}

.nav-link {
  margin-left: 20px;
  margin-right: 20px;
}

.show .navbar-nav {
  background-color: #ffffff;
  text-align: center;
}

/* Home */

#greeting {
  font-family: 'Roboto Slab', serif;
  font-size: 6em;
  margin-bottom: 1em;
}

#title-name {
  text-decoration: underline;
}

#title-desc {
  width: 100%;
  font-size: 2em;
}

/* About */
#about img {
  height: 20em;
  width: 20em;
  margin-bottom: 3em;
}

#about .col:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .col:nth-child(2) {
  min-width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Skills */

p a {
  text-decoration: underline;
  color: black;
}
p a:hover {
  color: #F3D250;
}

p, li {
  font-family: 'Raleway', sans-serif;
}

.skill-cats {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  /* margin-top: 1em; */
}

/* Projects */

.details {
  background-color: #F3D250;
  border-color: #F3D250;
  border-radius: 0.2em;
  /* color: grey; */
}

/* Contact */

form {
  margin-bottom: 3em;
}

.form-label, form button {
  font-family: 'Raleway', sans-serif;
}

.contact-submit {
  background-color: #90CCF4;
  border-color: #90CCF4;
  border-radius: 0.2em;
}

#contact-icons {
  display: flex;
  justify-content: space-evenly;
}

#contact-icons i {
  font-size: 2em;
  color: black;
}

#contact-icons i:hover {
  transform: scale(1.1);
}

/* Sections */

#intro {
  background-color: #F3D250;
  text-align: center;
}

#about {
  background-color: #90CCF4;
}

#skills {
  background-color: #F78888;
}

#projects {
  background-color: #5DA2D5;
}

#experience {
  background-color: #90CCF4;
}

#contact {
  background-color: #F3D250;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/* @media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }
} */
/* 
@media (min-width: 768px) {
  html {
    font-size: 2vw;
  }
  p, li, .skill-cats {
    font-size: 1.4rem;
  }
  #about .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1.6rem;
  }
  p, li, .skill-cats {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1rem;
  }
  p, li, .skill-cats {
    font-size: 1rem;
  }
} */
